<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @genre.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @genre.user %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
